@import "tailwindcss";

/* .goog-te-banner-iframe.skiptranslate,
  .goog-logo-link */
  
  iframe:nth-child(1){
    display: none !important;
  }

  .customHeader{
    /* background-color: #363636; */
    background-image: url(./images/background_header.png);
  }
